USE [master]
GO
/****** Object:  Database [InfoToolsSV]    Script Date: 27/5/2021 16:31:23 ******/
CREATE DATABASE [InfoToolsSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InfoToolsSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\InfoToolsSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InfoToolsSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\InfoToolsSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InfoToolsSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InfoToolsSV]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/5/2021 16:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1000,1) NOT NULL,
	[Nombres] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Usuario] [varchar](50) NULL,
	[Contrasenia] [varbinary](500) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarUsuario]    Script Date: 27/5/2021 16:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_AgregarUsuario]
@Usuario varchar(50),
@Contrasenia varchar(50),
@Patron varchar(50)
as
begin
insert into Usuarios(Usuario, Contrasenia) values (@Usuario,ENCRYPTBYPASSPHRASE(@Patron,@Contrasenia))
End
GO
/****** Object:  StoredProcedure [dbo].[SP_ValidarUsuario]    Script Date: 27/5/2021 16:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ValidarUsuario]
@Usuario varchar(50),
@Contrasenia varchar(50),
@Patron varchar(50)
as
begin
select*from Usuarios where Usuario=@Usuario and CONVERT(varchar(50),DECRYPTBYPASSPHRASE(@Patron, Contrasenia))=@Contrasenia
end
GO
USE [master]
GO
